PORT = 
ORIGIN = *

MONGO_URI = 

ACCESS_TOKEN_SECRET = 
ACCESS_TOKEN_EXPIRY = 1d

REFRESH_TOKEN_SECRET = 
REFRESH_TOKEN_EXPIRY = 7d

// enter your gmail and password(not gmail p/w)
SMTP_USER = 
SMTP_PASS  =
 